@font-face {
  font-family: "Next Bravo";
  src: url(../Fonts/Next\ Bravo.ttf);
}

@font-face {
  font-family: "Classica";
  src: url(../Fonts/Classica-Book.ttf);
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(gray, whitesmoke);
  background-repeat: no-repeat;
}

.titulo {
  font-family: "Next Bravo";
  letter-spacing: 4px;
  color: #333;
  /* Cor do texto */
  text-shadow: 5px 5px 0 #ff0000;
  /* Contorno vermelho de 1 pixel de deslocamento */
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header {
  background-color: black;
}

.header a {
  text-decoration: none;
  color: yellow;
  font-size: 18px;
  font-family: "Classica";
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: black;
}

.titulo {
  color: yellow;
  border: red;
  width: fit-content;
  font-weight: 500;
}

.login {
  display: flex;
  justify-content: center;
  background-color: aqua;
}


/* PARTE 2  */

.header ul {
  width: 700px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: medium;
}


.background-container {
  font-family: "Next Bravo";
  color: #ff0000;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: large;
}

.login h1 {
  display: flex;
  justify-content: center;
  color: #c4b5a9;
}

.login input {
  background-color: whitesmoke;
  height: 2vw;
  width: 15vw;
  margin: 3px;
  border-radius: 1vw;
  border: none;
  text-align: center;
}

.login button {
  background-color: #4d3626;
  border: solid black 1px;
  padding: 15px;
  width: 75%;
  height: 13%;
  border-radius: 50px;
  cursor: pointer;
  color: #c4b5a9;
  font-size: 15px;
  text-align: center;
}

.login li a {
  text-decoration: none;
  color: #c2b59b;
  list-style: none;
}

.login li {
  text-decoration: none;
  color: rgb(0, 165, 12);
  list-style: none;
  display: flex;
  justify-content: center;
}

.background-container input::placeholder {
  color: #c2b59b;
}


















































/* body {
    background: linear-gradient(to left,
            rgba(125, 105, 99, 1) 0%,
            rgba(157, 141, 128, 1) 50%,
            #b2a499 100%);
} */

/* .header {
    height: 5.2vw;
    background-color: #3e2217;
    box-shadow: 0px 0px 15px 8px #593823;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.containerHeader img {
    padding-top: 5px;
    padding-bottom: 5px;
    align-self: flex-start;
    height: 5.5vw;
}




.header ul :hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s;
}

.header .containerHeader {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.imagem {
    width: 100%;
    height: 100vh;
    /* background-image: url(..//Assents/Imgs/Enygma.jpg); */
/* background-size: cover;
    background-repeat: no-repeat;

} */





.login {
  width: 350px;
  height: 350px;
  background-color: rgba(255, 255, 0, 0.85);
  color: #c4b5a9;
  top: 15px;
  /* Adjust this value as needed */
  right: 15px;
  /* Adjust this value as needed */
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 1vw;
  border: solid blue 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .login {
    width: 250px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    color: #c4b5a9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    border-radius: 1vw;
    border: solid #ffffff5e 2px;
} 

  */